@use "mixins/grid";
@use "variables/breakpoints";

.footer {
  @include grid.directionColumn();
  background-color: var(--color-neutral-3);
  color: var(--font-color-dark);
  padding: var(--space-14);

  &_container {
    @include grid.directionColumn();
    @include grid.container(var(--container-size));
  }

  &_links {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;

    @media (min-width: breakpoints.$tablet) {
      gap: 0;
      flex-direction: row;
    }

  }

  &_divider {
    margin: var(--space-6) 0;
    background: #000;
    height: 2px;
    width: 100%;
  }

  &_legend {
    line-height: 170%;


    @media (min-width: breakpoints.$tablet) {
      text-align: center;
    }
  }
}
