<footer class="footer">
  <div class="footer_container">
    <nav class="footer_links">
      <app-footer-links title="Institucional" [links]="institucionalLinks" class="footer_links_column" />
      <app-footer-links title="Menus" [links]="menusLinks" class="footer_links_column" />
      <app-footer-links title="Social" [links]="socialLinks" direction="horizontal" class="footer_links_column" />
    </nav>

    <hr class="footer_divider" />

    <span class="footer_legend">
      © Copyright 2021 - Proxy - Todos os direitos reservados Proxy com Agência de Serviços Online S.A.
      CNPJ 47.977.172/0001-83 / Avenida Alvarenga, nº 1496, JD Laura, São Bernardo do campo/SP - CEP 06.020-902
    </span>
  </div>
</footer>
