.card {
  color: var(--color-primary);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  font-family: var(--primary-font-family);
  border: 2px solid var(--color-primary-shade);
  border-radius: 6px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: var(--transition);

  &.selected {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary-shade);
  }
}
