<div id="customer-home">
  <h1 id="customer-home_title" class="main-title">Ola, Peterson</h1>

  <section id="customer-home_categories">
    <h2 id="customer-home_categories_title" class="subtitle">Selecione abaixo a categoria do serviço que você esta
      procurando</h2>

    <ul id="customer-home_categories_list">
      @for (category of categories(); track $index) {
      <li>
        <app-card-thumb routerLink="/customer/search" [queryParams]="{categoria: category.slug}"
          [title]="category.name" />
      </li>
      }
    </ul>
  </section>

  <section id="customer-home_appointments">
    <h2 id="customer-home_appointments_title" class="subtitle">Seus agendamentos</h2>

    @if(orders().length) {
    <app-slider [gap]="14" [perpage]="3" id="customer-home_appointments_list">
      @for (order of orders(); track $index) {
      <app-card slide-item [title]="order.service?.title">
        <p class="text">{{ order.addressSnap?.street }}, {{order.addressSnap?.number}}</p>
        <p class="text">{{ order.service?.provider?.user?.name}}</p>
        <p class="text normalize">
          Status: {{order.status}}
        </p>
      </app-card>
      }
    </app-slider>

    <div id="customer-home_appointments_actions">
      <app-button color="customer">
        Agedar novo serviço
      </app-button>
    </div>
    } @else {
    <div id="customer-home_appointments_empty">
      <h2 class="subtitle">
        Você não possui nenhum pedido agendado.
      </h2>
    </div>
    }
  </section>

  <section id="customer-home_history">
    <h2 id="customer-home_history_title" class="subtitle">Históricos de serviços</h2>

    <app-slider [gap]="14" [perpage]="3" id="customer-home_history_list">
      <app-card slide-item title="Diarista 1">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 2">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 3">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 4">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 5">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 6">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 7">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 8">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
      <app-card slide-item title="Diarista 9">
        <p class="text">Casa - Rua Teresa Barbarossa </p>
        <p class="text">23 de Maio - 10:00 </p>
        <p class="text">Ana Souza </p>
      </app-card>
    </app-slider>
  </section>
</div>
