@use "../../../../../scss/mixins/grid";
@use "../../../../../scss/mixins/position";

.card {
  @include grid.directionColumn();
  border-radius: 8px;
  border: 1px solid var(--color-neutral-1);
  cursor: pointer;
  padding: var(--space-6);
  position: relative;

  &_title {
    margin-bottom: var(--space-4);
    width: 100%;
  }

  &_content {
    width: 100%;

    &::ng-deep .text {
      margin-bottom: var(--space-2);
    }
  }

  &_icon {
    @include position.absoluteCenter();
    height: max-content;
    left: unset;
    right: var(--space-6);
  }
}
