@use "mixins/grid";
@use "mixins/image";

.card-detail {
  @include grid.directionColumn();

  &_thumb {
    background-color: var(--color-neutral-3);
    border-radius: 16px;
    margin-bottom: var(--space-4);
    overflow: hidden;

    img {
      @include image.validSizeImage();
      display: block;
    }
  }

  &_thumb,
  &_content {
    width: 100%;
  }

  &_title {
    display: block;
    margin-bottom: var(--space-1);
  }

  &_legend {}
}
